*{
    margin: 0;
    padding: 0;
    /*去掉链表标签修饰*/
    list-style: none;
}
.happy{
    width: 1349px;
    height: 120px;
    background: #2196f3;
}
.head{
    width: 1349px;
    height: 50px;
    background: #333333;
    /*margin: 0 auto;*/
}
.lefthead{
    width: 700px;
    height: 100%;
    background: #333333;
    float: left;
    margin-left: 62px;
    line-height: 100%;
}
a{
    text-decoration:none;
}
.mekio{
    width: 100%;
    height: 17px;
    background: #333333;
    font-size: 13px;
    margin-top: 19px;
}
.mekio a:hover{
    color:#ffffff;
}
.list{
    border-right:2px solid #423d39;
    padding: 0px 9px 0px 8px;
    color:#b0b09f;   
}
.list1{
    padding-left: 0px;
}
.list2{
    border-right: none;
    border-right: 0px;
    color:#b0b09f;
}

.righthead{
    width: 341px;
    height: 100%;
    background: #333333;
    float: right;
    margin-right: 62px;
}
.righthead a:hover{
    color:white;
}
.we{
    width: 190px;
    height: 18px;
    float: left;
    background: #333333;
    margin-top: 17px;
}
.omg{
    width: 150px;
    height: 50px;
    float: right;
    background: #424242;
    line-height: 50px;
}
.omg:hover{
    background: white;
}
.blg{
    width: 99px;
    height: 18px;
    margin-left: 21px;
    font-size: 15px;
    color: #b0b0b0;
}
.uzi{
    width: 1226px;
    height: 100px;
    background: #ffffff;
    margin: 0 auto;
}
.logo{
    width: 55px;
    height: 55px;
    background: #ffffff;
    float: left;
    margin-top: 22px;
    margin-left: 0px;
}
.deft{
    width: 460px;
    height: 100px;
    background: #ffffff;
    line-height:100px;
    color: #333333;
    float: left;
    margin-left: 190px;
    font-size: 16px;
}
.mingg{
    float:left;
    font-size:20px;
    color: #333333;
    margin-right: 15px;
}
.mingg:hover{
    color: #ff6700;
}
.faker{
    width: 294px;
    height: 48px;
    background: #ffffff;
    float: right;
    margin-top: 25px;
    margin-right: 0px;
    border: 1px solid #e0e0e0;
}
.fxa{
    margin-left: 116px;
    margin-top: 16px;
    float: left;
}
.list3{
    color: #b0b0b0;
}
.imgbox{
    width: 1226px;
    height: 460px;
    background: chartreuse;
    margin: 0 auto;
    position: relative;
}
.imgbox a{
    width: 1226px;
    height: 460px;
    display: inline;
}
.imgbox a img{
    width: 1226px;
    height: 460px;
    position: absolute;
}
.leftblack {
    width: 234px;
    height: 460px;
    background: #b0b0b0;
    position: absolute;
}
.leftblackk{
    width: 234px;
    height: 396px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.leftblackk a:hover{
    width: 234px;
    height: 41px;
    background: #ff6700;
}
.gtt a:hover{
    width: 234px;
    height: 50px;background: #ff6700;
}
.leftblackk li{
    margin-top: 20px;
}
.leftblackk a:hover{
    color:#ff6700;
}
.gt{
    width: 64px;
    height: 13px;
    margin-left: 30px;
    color: white;
}
.textlist{
   margin-left: 26px;
}
.english{
    width: 1226px;
    height: 170px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 14px;
}

/*.english4 li{*/
    /*width: 70px;*/
    /*height: 78px;*/
    /*background: #6f6d6d;*/
    /*float: left;*/
    /*position: relative;*/
/*}*/
/*.english4.tutu{*/
    /*font-size: 40px;*/
/*}*/

/*.l1{*/
    /*height: 70px;*/
    /*width: 1px;*/
    /*background: #e53935;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
/*}*/
/*.l2{*/
    /*width: 65px;*/
    /*height: 1px;*/
    /*background: #e53935;*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
/*}*/
/*.english4 li:nth-child(1),.english4 li:nth-child(2),.english4 li:nth-child(3){*/
    /*margin-top: 7px;*/
/*}*/
/*.english4 li:nth-child(1),.english4 li:nth-child(4){*/
    /*margin-left: 10px;*/
/*}*/
/*.english4 li:nth-child(2),.english4 li:nth-child(5){*/
    /*margin-left: 7px;*/
/*}*/
/*.english4 li:nth-child(3),.english4 li:nth-child(6){*/
    /*margin-left: 7px;*/
/*}*/
/*.englishh{*/
    /*width: 78px;*/
    /*height: 85px;*/
    /*background: blanchedalmond;*/
    /*float: left;*/
/*}*/
.english .english1 ul li{
    width:76px;
    height: 83px;
    background: #5f5750;
    float: left;
}
.english .english1 ul li .t{
    line-height: 40px;
    font-size: 30px;
    margin-left: 20px;
}
.tt {
    display: block;
    margin-left: 9px;
}
.english .english1 ul li i a{
    color: #423d39;
}
.english1{
    width: 234px;
    height: 170px;
    background: #5f5750;
    float: left;
}
.english .english1 ul li:hover{
    color: white;
}
.english2{
    width: 978px;
    height:170px;
    background: #ffffff;
    margin-left: 14px;
    float: left;
}
.english3{
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 0px;
    margin-right: 14px;
}
.english5{
    width: 316px;
    height: 170px;
    float: left;
    margin-right: 0px;
}
/*.icon-shouji{*/
    /*display: block;*/
    /*font-size:26px;*/
/*}*/
.shopping{
    width: 1226px;
    height: 400px;
    background: yellow;
    margin: 0 auto;
}
.shoppinghead{
    width: 1226px;
    height: 60px;
    background:#ffffff;
}
.shoppinghead1{
    width: 93px;
    height: 60px;
    background: #ffffff;
    font-size: 22px;
    color: #423d39;
    line-height: 60px;
}

.picture{
    width: 1226px;
    height: 340px;
    background: #ffffff;
}
.picture1{
    width: 234px;
    height: 340px;
    background: #f1eded;
    float: left;
    margin-right: 14px;
    border-top: 1px solid  #e53935;
}
.picture2{
   width: 234px;
    height: 340px;
    background: #fafafa;
    float: left;
    margin-right: 0px;
    border-top: 1px solid  #e53935;
}

.picture3{
    width: 234px;
    height: 340px;
    background: #fafafa;
    float: left;
    margin-right: 14px;
    border-top: 1px solid  #ffac13;
    cursor: pointer;
}
.picture3:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.picture4{
    width: 234px;
    height: 340px;
    background: #fafafa;
    float: left;
    margin-right: 14px;
    border-top: 1px solid  #83c44e;
}
.picture5{
    width: 234px;
    height: 340px;
    background: #fafafa;
    float: left;
    margin-right: 14px;
    border-top: 1px solid  #2196f3;
}
.time{
    width: 86px;
    height: 14px;
    background: bisque;
    margin-top: 47px;
    font-size: 19px;
    color: red;
    margin-left: 73px;
}
.redlight{
    margin-top: 11px;
    margin-left: 63px;
}
.word {
    width: 91px;
    height: 14px;
    font-size: 14px;
    color: #6f6d6d;
    margin-left: 72px;
    margin-top: 25px;
}
.boxbig{
    width: 168px;
    height: 46px;
    background: #b0b0b0;
    margin: 0 auto;
    margin-top: 31px;
}
.bigbox{
    width: 46px;
    height: 46px;
    background: #605751;
    float: left;
    text-align: center;
    line-height: 46px;
    color: #ffffff;

}
.bigbox1{
    width: 15px;
    height: 46px;
    background: #f1eded;
    float: left;
    text-align: center;
    line-height: 46px;
}
.big6{
    margin-top: 49px;
    margin-left:42px;
}
.word1{
    width: 206px;
    height: 20px;
    background:#fafafa;
    margin-top: 41px;
    margin-left: 14px;
    color: black;
}
.word2{
    width: 159px;
    height: 24px;
    background:#fafafa;
    margin-top: 14px;
    margin-left: 26px;
    text-align: center;
    color: #adadad;
}
.word3{
    width: 93px;
    height: 12px;
    background: #fafafa;
    margin-top: 14px;
    margin-left: 40px;
    color: #adadad;
}
.word4{
    width: 206px;
    height: 20px;
    background: #fafafa;
    margin-top: 41px;
    margin-left: 14px;
    color: black;
    text-align: center;
}
.word5{
    width: 234px;
    height: 24px;
    background:#fafafa;
    margin-top: 14px;
    text-align: center;
    color: #adadad;
}
.cross{
    width: 1226px;
    height: 120px;

    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 42px;
}

.phone {
    width: 1226px;
    height: 672px;
    background: #ff6700;
    margin: 0 auto;
}
.phonehead{
    width: 1226px;
    height: 58px;
    background: #f5f5f5;
}
.phone1{
    width: 1226px;
    height: 614px;
    background: #f5f5f5;

}
.phone2{
    width: 234px;
    height: 614px;
    margin-right: 14px;
    float: left;
}
.phone3{
    width: 978px;
    height: 614px;
    background: #f5f5f5;
    float: right;
}
.phone4{
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
}
.phone5{
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    margin-right: 0px;
    margin-bottom: 14px;
}
.phone6{
    margin-top: 32px;
}
.phone7{
    width: 234px;
    height: 23px;
    text-align: center;
    margin-top: 15px;
}
.phone8{
    width: 234px;
    height: 23px;
    text-align: center;
    color: #b0b0b0;
    font-size: 11px;
    margin-top: 10px;
}
.phone9{
    width: 234px;
    height: 23px;
    text-align: center;
    margin-top: 10px;
    color: #ff6700;
}
.phone10{
    width: 64px;
    height: 20px;
    background: red;
    margin-left: 86px;
    color: #fff;
    font-size: 11px;
    text-align: center;
}
.phone11{
    margin-top: 12px;
}
.appliances{
    width: 1226px;
    height: 675px;
    background: yellow;
    margin: 0 auto;
}
.applianceshead{
    width: 1226px;
    height: 80px;
    background: #f5f5f5;

}
.appliancesleft1{
    padding-top: 21px;
    display: block;
    font-weight: normal;
    float: left;
}
.TAB {
    height: 40px;
    padding-top: 26px;
    float: right;
}
.appliances .applianceshead .TAB a{
    color:black;
}
.TAB a:hover{
    color: #ff6700;
}
.tab{
    width: 63px;
    height: 21px;
    font-size: 15px;
    color: #424242;
    margin-right: 30px;
}
.tab:hover{
    color: #ff6700;
}
.tab1{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.tab2{
    margin-right: 0px;
}
.appliances1{
    width: 1226px;
    height: 614px;
    background: chocolate;
    float: right;
}
.dj{
    width: 234px;
    height: 614px;
    float:left;
    background: #ffffff;
}
.dj11{
    width: 234px;
    height: 300px;
    background: #ffac13;
}

.dj22{
    width: 234px;
    height: 300px;
    background: rebeccapurple;
    margin-top: 14px;
}
.tjx{
    width: 992px;
    height: 614px;
    background: #f5f5f5;
    float:right;
}
/*11111111111111111111111111111111111111111111111111111111111111111111111111111*/
.tjx1{
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.tjx1:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.tanchu{
    width: 234px;
    height: 60px;
    background: #ff6700;
    position: absolute;
    left:0;
    bottom:-60px;
    transition: all 0.25s 0s linear;
    color: #fff;
    font-size: 11px;
    padding:10px 20px;
    box-sizing: border-box;
}
.tanchu p{
    text-align: left;
}
.tjx1:hover .tanchu{
    bottom:0px;
}
.tjx2{
    width: 234px;
    height: 134px;
    background: darkgray;
    margin-top: 40px;
}
.tjx3{
      width: 234px;
      height: 21px;
      background: #ffffff;
      text-align: center;
      font-size: 12px;
      color: #333333;
}
.tjx4{
    width: 234px;
    height: 21px;
    background:  #ffffff;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
}
.tjx5{
    width: 234px;
    height: 21px;
    background:  #ffffff;
    text-align: center;
    font-size: 12px;
    color: #ff6700;
}
.tjxlove{
    width: 234px;
    height: 143px;
    background: #ff6700;
}
.tjxlove1{
    width: 133px;
    height: 143px;
    background: #ffffff;
    float: left;
}
.tjxlove2{
    width: 101px;
    height: 143px;
    background: blue;
    float: right;
}
.tjxlove3{
    width: 133px;
    height: 24px;
    margin-top: 41px;
    text-align: center;
}
.tjxlove4{
    width: 133px;
    height: 24px;
    color: #ff6700;
    text-align: center;
}
.tjxlove5{
    width: 133px;
    height: 24px;
    margin-top: 41px;
    text-align: center;

}
.tjxlove6{
    width: 35px;
    height: 35px;
    color: #757575;
    margin-left: 34px;


}
.tjxlove7{
    width: 133px;
    height: 143px;
    background: #ffffff;
    float: left;
    margin-top: 14px;
}
.tjxlove8{
    width: 101px;
    height: 143px;
    background: blue;
    float: right;
    margin-top: 14px;
}
.recommed{
    width: 1226px;
    height: 359px;
    background: royalblue;
    margin: 0 auto;
}
.recommedhead{
    width: 1226px;
    height: 80px;
    background: #f5f5f5;
}
.recommedbotton{
    width: 1226px;
    height: 300px;
    background: #f5f5f5;
}
.recommedbotton1{
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    margin-left: 14px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.recommedbotton1:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}

.recommedbotton2 {
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.recommedbotton2:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.recommedbotton3{
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: right;
    margin-right:0px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.recommedbotton3:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.recommedbotton4{
    width: 234px;
    height: 147px;
    background: #ffac13;
    margin-top: 37px;
}

.wwwwww{
    width: 234px;
    height: 24px;
    background: #ffffff;
    margin-top: 4px;
    text-align: center;
    font-size: 4px;
}
.awei{
    width: 234px;
    height: 24px;
    margin-top: 32px;
    text-align: center;
    font-size: 12px;
    color: #e53935;
}

.xiaoming{
    width: 234px;
    height: 10px;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    color: #987598;
}
.product{
    width: 1226px;
    height: 473px;
    background: #f5f5f5;
    margin: 0 auto;
    margin-top: 28px;
}
.producthead{
    width: 1226px;
    height: 58px;
    background: #f5f5f5;
}
.product1{
    width: 296px;
    height: 415px;
    background: #ffffff;
    float: left;
    margin-right: 14px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.product1:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.product2{
    width: 296px;
    height: 415px;
    background: #ffffff;
    float: left;
    margin-right: 0px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.product2:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.product3{
    width: 296px;
    height: 220px;
    background: #ffac13;
}
.product4{
    width: 269px;
    height: 40px;
    margin-top: 20px;
    background: #ffffff;
    font-size: 14px;
    margin-left: 27px;
    line-height: 40px;
}
.product5{
    width: 269px;
    height: 40px;
    margin-top: 20px;
    background: #ffffff;
    font-size: 14px;
    margin-left: 27px;
    color: #b0b09f;
}
.product6{
    width: 269px;
    height: 40px;
    margin-top: 20px;
    background: #ffffff;
    font-size: 14px;
    margin-left: 27px;
    color: black;
    line-height: 40px;
}
.product7{
    width: 237px;
    height: 76px;
    margin-top: 20px;
    background: #ffffff;
    font-size: 14px;
    margin-left: 27px;
}
.product8{
    width: 269px;
    height: 40px;
    background: #ffffff;
    font-size: 14px;
    margin-left: 27px;
    color: black;
    line-height: 40px;
}
.product9{
    width: 237px;
    height: 66px;
    margin-top: 20px;
    background: #ffffff;
    font-size: 14px;
    margin-left: 27px
}
.product10{
    width: 269px;
    height: 40px;
    margin-top: 4px;
    background: #ffffff;
    font-size: 14px;
    margin-left: 27px;
    color: #b0b09f;
}
.contect{
    width: 1226px;
    height: 478px;
    background: #f5f5f5;
    margin: 0 auto;
}
.contecthead{
    width: 100%;
    height: 58px;
    background: #f5f5f5;
}
.contect1{
    width: 1226px;
    height: 420px;
    background: #ffffff;
}
.contect2{
    width: 296px;
    height: 419px;
    background: #ffffff;
    margin-right: 14px;
    float: left;
    border-top: 1px solid #ffac13;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.contect2:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.contect22{
    width: 296px;
    height: 419px;
    background: #ffffff;
    margin-right: 14px;
    float: left;
    border-top: 1px solid #83c44e;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.contect22:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}

.contect23{
    width: 296px;
    height: 419px;
    background: #ffffff;
    margin-right: 14px;
    float: left;
    border-top: 1px solid #e53935;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.contect23:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}

.contect3{
    width: 296px;
    height: 419px;
    background:#ffffff;
    margin-right: 14px;
    float: right;
    margin-right: 0px;
    border-top: 1px solid  #2196f3;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.contect3:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}

.contect4{
    width: 53px;
    height: 31px;
    margin-left: 117px;
    margin-top: 41px;
    color: #ffcd52;
}
.contect5{
    width: 296px;
    height: 27px;
    text-align: center;
}
.contect6{
    width: 296px;
    height: 40px;
    text-align: center;
    margin-top: 18px;
    color: #b0b0b0;
    font-size: 11px;
}
.contect7{
     width: 75px;
     height: 21px;
     margin-top: 18px;
     text-align: center;
    margin-left: 114px;
 }
.contect8{
    margin-left: 73px;
    margin-top: 18px;
}
.contect9{
    width: 90px;
    height: 31px;
    color: #96c44e;
    margin-left: 117px;
    margin-top: 41px;
}
.contect11{
    width: 53px;
    height: 31px;
    margin-left: 117px;
    margin-top: 41px;
    color: #e93935;
}
.contect10{
    margin-top: 54px;
    margin-left: 73px;
}
.contect12{
    width: 296px;
    height: 27px;
    margin-left: 100px;
}
.video{
    width: 1226px;
    height: 344px;
    background: burlywood;
    margin:  0 auto;
}
.vidoheda{
    width: 1226px;
    height: 59px;
    background: #f5f5f5;
}
/*.videoo{*/
    /*width: 103px;*/
    /*height: 45px;*/
    /*margin-right: 1163px;*/
/*}*/
.video1{
    width: 1226px;
    height: 285px;
    background: #f5f5f5;
}
.video2{
    width: 296px;
    height: 285px;
    background: #ffffff;
    float: left;
    margin-right: 14px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.video2:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.video3{
    width: 296px;
    height: 285px;
    background: #ffffff;
    float: left;
    margin-right: 0px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.video3:hover{
    transform: translateY(-4px);
    transition: all 0.25s 0s linear;
}
.video4{
    width: 296px;
    height: 25px;
    color: #333333;
    text-align: center;
    margin-top: 28px;
    font-size: 12px;
}
.video4:hover{
    color: #ff6700;
}
.video5{
    width: 296px;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    color: #b0b0b0;
}
.button{
    width: 100%;
    height: 272px;
    background: #987598;
}
.button1{
    width: 1266px;
    height: 79px;
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    display: flex;
}
.button2{
    width: 191px;
    height: 27px;
    background: #ffffff;
    margin-left: 51px;
    margin-top: 25px;
    border-right: 1px solid #e0e0e0;
}
.button2 a{
    color: #616161;
}
.button2 a:hover{
    color: #ff6700;
}
.button3{
    width: 191px;
    height: 27px;
    background: #ffffff;
    margin-left: 51px;
    margin-top: 25px;
}
.button3 a {
    color: #616161;
}
.button3 a:hover{
    color: #ff6700;
}
.redd{
    width: 1226px;
    height: 192px;
    background: #ffffff;
    overflow: hidden;
    position: relative;

}
.button5{
    width: 157px;
    height: 192px;
    overflow: hidden;
    float: left;
}
.button6{
    width: 62px;
    height: 26px;
    font-size: 12px;
    margin-top: 42px;
    color: #424242;
}
.button7{
    width: 51px;
    height: 16px;
    margin-top: 32px;
    font-size: 11px;
    color: #757575;
}
.button7:hover{
    color: #ff6700;
}
.button8{
    width: 60px;
    height: 16px;
    margin-top: 10px;
    font-size: 11px;
    color: #757575;
}
.button8:hover{
    color: #ff6700;
}
.button9{
    width: 1px;
    height: 112px;
    background: #e0e0e0;
    margin-left: 901px;
    margin-top: 44px;
}
.buttonn{
    width: 245px;
    height: 192px;
    background:#ffffff;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.buttonn1{
    width: 156px;
    height: 24px;
    margin-left: 53px;
    margin-top: 40px;
    font-size: 16px;
    color: #ff6700;
    text-align: center;
}
.buttonn2{
    width: 156px;
    height: 24px;
    margin-left: 53px;
    margin-top: 10px;
    font-size: 11px;
    color: #757575;
    text-align: center;
}
.buttonn3{
    width: 156px;
    height: 24px;
    margin-left: 53px;
    margin-top: 10px;
    font-size: 11px;
    color: #757575;
    text-align: center;
}
.buttonn4{
    width: 118px;
    border: 1px solid #ff6700;
    margin-left: 66px;
    text-align: center;
    font-size: 11px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
}
.buttonn4:hover{
    background: #ff6700;
}
.tanchu1{
    waidth: 118px;
    height: 28px;
    background: #ff6700;
    position: absolute;
    left:0;
    bottom:-28px;
    transition: all 0.25s 0s linear;
}
.sos{
    width: 100%;
    height: 146px;
    background: #fafafa;
    padding-top:30px;
}
.sos1{
    width: 1226px;
    height: 57px;
    margin:0 auto;
    position:relative;
    display:flex;
    justify-content: space-between;
}
.sos1 img{
    display:block;
    width: 56px;
    height: 57px;
}
.sos2{
    width: 698px;
    height: 18px;
    position:absolute;
    left:66px;
    top:0px;
}
.sos2 a{
    font-size: 11px;
    color:#757575;
}
.sos3{
    position:absolute;
    top:24px;
    left:66px;
    font-size: 11px;
    color:#b0b0b0;
}
.sos4{
    width: 436px;
    height: 28px;
    float:right;
    line-height: 57px;
    display:flex;
}
.sos4 img{
    display:block;
    width:84px;
    height: 28px;
}
.sos5{
    width: 280px;
    height: 19px;
    margin:40px auto 0px;
    font-family: "楷体";
    font-size: 20px;
    color:#bababa;
}
.gps{
    width: 50px;
    height: 120px;
    background: #fff;
    position: fixed;
    right: 0px;
    top: 300px;
    bottom: 300px;
    z-index: 999;
    font-size: 20px;
}
.gps1{
    width: 50px;
    height: 40px;
    background: #fff;
}
.gps1 .tubaio{
    font-size: 20px;
}






